*{
    text-decoration: none !important;

}

.image {
  width: 350px !important;
  text-align: center;
}

.artist {
  font-size: 1.5em;
  color: white;
}

span {
  margin: 1% !important;

  transition: 300ms;

  a {
    color: white;
  }
}

span:hover {
  transform: scale(1.05);
}

iframe {
  width: 100%;
  height: 80px;
}